body {
    background: #252a31;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: monospace;
    color: #fafafa;
    font-size: 16px;
    line-height: 1.5;
}

main {
    max-width: 360px;
    margin: auto;
    text-align: left;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

h2 {
    font-size: 26px;
}

.error-page code {
    font-size: 14px;
    display: block;
    margin-top: 50px;
}

header {
    margin: 20px auto 50px auto;
}

.title {
    font-size: 36px;
    margin-bottom: 0;
}

header p {
    margin-top: 10px;
}

.title a, .title a:hover, .title a:active {
    color: #fafafa;
    text-decoration: none;
}

a {
    color: #838d9f;
    text-decoration: none;
}

a:hover, a:active {
    color: #8ca9dd;
}

footer {
    margin-top: 30px;
    font-size: 12px;
    color: #a0a0a0;
}

.choice-label {
    cursor: pointer;
    display: block;
    margin: 10px 0;
    font-size: 14px;
}

.choice-label input {
    position: relative;
    top: 2px;
}

.input-field {
    width: 100%;
    background: none;
    border: none;
    background: #191f26;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    color: #fafafa;
    font-family: monospace;
    box-sizing: border-box;
    display: block;
    margin: 20px auto;
    border-radius: 3px;
}

.input-field:hover, .input-field:focus {
    background: #161b22;
}

.cta-btn {
    width: 100%;
    background: #4f688a;
    padding: 15px 80px;
    border: none;
    display: block;
    margin: 30px auto 50px auto;
    font-size: 18px;
    font-family: monospace;
    cursor: pointer;
    color: #fafafa;
    border-radius: 3px;
}

.cta-btn:hover, .cta-btn:active {
    background: #597499;
}

.password-container {
    margin-top: 20px;
    padding: 15px;
    background: #31363e;
    border-radius: 3px;
}

.password-container .input-field {
    margin-bottom: 0;
}

.msg {
    display: block;
    background: #31363e;
    padding: 15px 30px;
    border-radius: 3px;
    font-size: 16px;
    margin: 0 auto 20px auto;
    text-align: center;
}

.error-msg {
    color: #ff7575;
}

#short-link {
    position: absolute;
    top: -1000000px;
}

.explanation {
    font-size: 14px;
    margin-top: 50px;
    color: #a0a0a0;
    line-height: 1.6;
    text-align: center;
    max-width: 480px;
}

.code {
    background: #31363e;
    padding: 3px 6px;
    border-radius: 3px;
}

abbr {
    text-decoration: none;
    cursor: help;
    color: #a0a0a0;
    font-weight: bold;
}

.help-text {
    font-size: 12px;
    color: #a0a0a0;
    margin-top: 5px;
}

.msg.warning-msg {
    color: #d79928;
}

.spinner {
    margin: auto;
    width: 100%;
    text-align: center;
    display: block;
}

.spinner > span {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1s infinite ease-in-out both;
    animation-delay: 0s;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}

.hidden {
    display: none;
}
