{{ define "404.gohtml" }}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "meta" }}
    {{ template "head" }}
</head>
<body class="error-page">
    <h2>Oops... The page you requested was not found.</h2>
    <p>If this is one of our generated links, it means that it has probably expired.</p>
    <p><a href="/">Create a new one!</a></p>
    <p><code>HTTP 404 Not Found</code></p>
</body>
</html>
{{ end }}
