{{ define "500.gohtml" }}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "meta" }}
    {{ template "head" }}
</head>
<body class="error-page">
    <h2>Oops... Something went wrong.</h2>
    <p>Seems like we hit a bump. <a href="/">Try the homepage?</a></p>
    <p><code>HTTP 500 Internal Server Error</code></p>
</body>
</html>
{{ end }}
